#search-logo {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border-radius: 50%;
    border: none;
}
#handle {
    position: relative;
    background: gray;
    z-index: 11;
    top: 2px;
    left: 30px;
    width: 2px;
    height: 10px;
    transform: rotate(-45deg);
}
#glass {
    position: relative;
    border: 2px gray solid;
    border-radius: 50%;
    top: 6px;
    left: 15px;
    width: 10px;
    height: 10px;
    z-index: 11;
}
