html {
    background-color: white;
}
body {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 1px 1px 1px 1px;
}
body #flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}